@tailwind base;
@tailwind components;
@tailwind utilities;


@mixin button-style($base-color) {
  background-color: $base-color;
  border: 1px solid darken($base-color, 10%);
  color: white;
  border-radius: .5rem;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: darken($base-color, 10%);
    color: black;
  }
}

.btn-primary {
  @include button-style(#3498db); 
}

.btn-warning {
  @include button-style(orange);
}

.btn-danger {
  @include button-style(red);
}
